<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Shababa Bakht</title>
  </head>
  <body>
  	<header>
      <div id="header_title"> Shababa Bakht </div>
      <table id="sm_icons"> 
        <tr> 
              <td>
                    <a href="https://www.facebook.com/shababa.bakht/"><img src="/Icons/Facebook.png"></a>
                </td>
                <td>
                    <a href="mailto:shababa.bakht@gmail.com"><img src="/Icons/Email.png"></a>
                </td>
                <td>
                    <a href="https://www.linkedin.com/in/shabababakht"><img src="/Icons/Linkedin.png"></a>
                </td>
                <td>
                    <a href="http://instagram.com/shabababakht/"><img src="/Icons/Instagram.png"></a>
                </td>
                <td>
                    <a href="https://twitter.com/ShababaBakht">
                      <img src="/Icons/Twitter.png">
                    </a>
                </td>
        </tr>
      </table>
    <header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>