<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Hey, Shababa!</title>
  </head>
  <body>
  	<h1>Shababa Bakht</h1>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>